#forkme {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    z-index: 999;
    height: 150px;
}

#canvas-holder {
    background: #f7f7c1;
}

.radio input {
    height: 2rem;
    width: 2rem;
}

.radio label {
    font-size: 2rem;
}