<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <script src="js/angular/angular.js"></script>
    <script src="js/angular-foundation/mm-foundation-tpls.js"></script>
    <script src="js/main.js"></script>
    <link href="css/foundation.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
  </head>
  <body> 
    <a href="https://github.com/Vinatorul/Pathfind2016"><img id="forkme" class="show-for-large-up" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/githuab/ribbons/forkme_right_darkblue_121621.png"></a> 
    <div ng-app="pathFind2016">  
      <div class="panel callout large">
        <div class="row text-center">
          <h1>Welcome</h1>
        </div>
      </div>
      <div ng-controller="CanvasCtrl" class="row">
        <div class="medium-9 columns">
          <div id="canvas-holder" class = "panel" style="height:500px">
            <canvas id="canvas" ng-click="procClick($event)"></canvas>
          </div>
        </div>
        <div class="medium-3 columns text-center">
          <div class="panel">
            <form name="params">
              <input type="radio" ng-model="param.type" value="1">Set start (blue color)<br/>
              <input type="radio" ng-model="param.type" value="2">Set end (green color)<br/>
            </form>
            <div>
              <p><img src="assets/Link.png"/></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row text-center">
        
        <h3>Check online on <a href="http://vinatorul.github.io/PathFind2016/">vinatorul.github.io/PathFind2016</a></h3>
      </div>
    </div>
  </body>
</html>
